*{
    font-family: Inter,Verdana, Geneva, Tahoma, sans-serif;
}

.welcome {
    margin-top: 5rem;
   margin-left: 2rem;
   font-size: x-large;
}

.loading--icon {
    display: flex;
    justify-content: center;
    margin-top: 10rem;
}

.filters {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   row-gap: 1rem;
   padding: 1rem;
    border-radius: 5px;
    border: 5px solid #ccc
}



.shows-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    column-gap: 1.5rem;
    row-gap: 1rem;
    width: 100%;
    margin: 2rem auto;
    grid-auto-columns: 150px;
    
}

.button{
    display: flex;
    justify-content: center;
}

.intro--container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.intro--container button {
    margin-top: 2rem;
    width: 5rem;
    height: 2rem;
    color: white;
    background-color: #767a78;
    border: none;
}

@media only screen and (max-width: 375px) {
    .filters{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    }
    @media only screen and (max-width: 425px) {
        .filters{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

    }
    
    .text {
        margin-top: 0rem;
    }

    .welcome {
        font-family: 'Your Preferred Font', sans-serif;
        font-size: 1.2rem;
        font-weight: bolder;
        color: #333333;
        margin-bottom: 20px;
        text-align: center;
        animation: fadeInUp 2s ease; /* Slow down the fade-in animation */
      }
      
      /* Keyframes for fade-in animation */
      @keyframes fadeInUp {
        from {
          opacity: 0;
          transform: translateY(20px);
        }
        to {
          opacity: 1;
          transform: translateY(0);
        }
      }
      
      .welcome:hover {
        color: #1f3c6f; /* Change color on hover */
        cursor: pointer;
        transform: scale(1.1); /* Add a slight scale effect on hover */
        transition: color 0.7s ease, transform 0.7s ease;
      }  